<li class="sidebar-item">
    <a href="#" class="sidebar-link collapsed" data-bs-target="#restful_apis" data-bs-toggle="collapse"
        aria-expanded="false"><i class="fa-solid fa-arrow-right-arrow-left"></i>
        RESTful APIs
    </a>
    <ul id="restful_apis" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
        <li class="sidebar-link">
            <a href="/rest/" class="sidebar-link ms-4">Developer Tools</a>
        </li>
        <li class="sidebar-link">
            <a href="/rest/swagger/" class="sidebar-link ms-4">Documentation</a>
        </li>
        <li class="sidebar-link">
            <a href="/rest/redoc/" class="sidebar-link ms-4">OpenAPI Spec</a>
        </li>
        <li class="sidebar-link">
            <a href="/rest/schema/" class="sidebar-link ms-4">Schema</a>
        </li>
    </ul>
</li>