<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                {% comment %} <p class="mb-0">
                    <a href="" target="blank" class="text-info">
                        <strong>{{ PROJECT_NAME|title }}</strong>
                    </a>
                </p> {% endcomment %}
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    {% comment %} <li class="list-inline-item">
                        <a href="#" class="text-muted">Contact</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-muted">About Us</a>
                    </li> {% endcomment %}
                    <li class="list-inline-item small">
                        <a href="/" target="blank" class="text-info">
                            <strong>{{ PROJECT_NAME|title }}</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
